@charset "utf-8";

.exercise-pop {
  width: 100%;
  height: 100%;
  padding-left: 70px;
  position: relative;

  .icon {
    background: var.$blue;
  }

  .title {
    margin-bottom: 40px;
  }

  .recomend-age {
    width: 100%;
    height: 50%;

    .classify {
      width: 90%;

      button {
        &:first-of-type {
          background: var.$blue;
          color: #fff;
        }
      }

      .click-age {
        background: var.$blue;
        color: #fff;
      }
    }

    .age-content {
      width: 100%;
      height: calc(100% - 130px);
      display: flex;

      .age-info {
        width: 50%;
        height: 100%;
        background: var.$blueGray;
        @include var.r-m;
        // padding: 25px 25px 45px;
        padding: 25px 25px 25px 25px;

        .age-info__txt {
          width: 100%;
          height: 100%;
          @include var.center;
          align-items: flex-start;
          row-gap: 19px;
          padding-right: 15px;
          overflow-y: scroll;

          // &::-webkit-scrollbar {
          //   width: 7px;
          //   background: var.$blueGray;
          //   box-shadow: inset 0 0 10px rgba(197, 206, 221, 0.5);
          //   @include var.r-m;
          // }
          // &::-webkit-scrollbar-thumb {
          //   background: hsl(219, 94%, 93%);
          //   @include var.r-s;
          // }
          &::-webkit-scrollbar {
            width: 7px;
            background: #dee9fe;
            @include var.r-s;
            margin-top: 20px;
          }
          &::-webkit-scrollbar-thumb {
            background: #a6c7f3;
            @include var.r-s;
          }

          p {
            @include var.content-s;
            line-height: 180%;
          }
        }
      }

      .age-exercise {
        width: 50%;
        height: 100%;
        padding-left: 30px;
        @include var.center;
        align-items: flex-start;
        row-gap: 20px;
        overflow-y: scroll;
        padding-right: 20px;

        &::-webkit-scrollbar {
          width: 7px;
          background: #dee9fe;
          @include var.r-s;
          margin-top: 20px;
        }
        &::-webkit-scrollbar-thumb {
          background: var.$blue;
          @include var.r-s;
        }

        & > div {
          width: 100%;
          height: 70px;
          background: var.$blue;
          @include var.r-s;
          @include var.center;

          .icon {
            background: var.$darkBlue;
            width: 40px;
            height: 40px;

            svg {
              color: #fff;
              font-size: 1.3rem;
            }
          }

          .exercise-name {
            width: calc(100% - 80px);
            padding-left: 20px;

            h5,
            p {
              color: #fff;
            }

            p {
              @include var.content-s;
            }
          }
        }
      }
    }
  }

  .exercise-category {
    width: 100%;
    height: calc(100% - 440px);

    .classify {
      width: 60%;
    }

    .category-content {
      width: 100%;
      height: calc(100% - 90px);
      padding: 30px 30px 30px 30px;
      background: var.$blueGray;
      @include var.r-m;
      @include var.center;

      .icon {
        @include var.r-s;
        width: 70px;
        height: 70px;
        background: #dee9fe;

        svg {
          color: var.$blue;
          font-size: 2rem;
        }
      }

      .category-content__txt {
        width: calc(100% - 70px);
        height: 100%;
        padding-left: 30px;
        padding-right: 30px;
        @include var.center;
        align-items: flex-start;
        row-gap: 10px;
        overflow-y: scroll;

        &::-webkit-scrollbar {
          width: 7px;
          background: #dee9fe;
          @include var.r-s;
          margin-top: 20px;
        }
        &::-webkit-scrollbar-thumb {
          background: #a6c7f3;
          @include var.r-s;
        }

        p {
          @include var.content-m;
        }
      }
    }
  }
}

.classify {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;

  button {
    @include var.center;
    color: var.$blue;
    outline: none;
    background: transparent;
    cursor: pointer;
    transition: 0.5s;
    @include var.solid(1px, var.$blue);
    @include var.content-s;
    width: 70px;
    height: 30px;
    @include var.r-s;
  }
}
