@charset "utf-8";

.health-news {
    width: 350px;
    background: #fff;
    height: 800px;
    position: absolute;
    top: -50px;
    right: -40px;
    border-radius: 0 40px 40px 0;
    padding: 50px 40px;
}
