@charset "utf-8";

.pharmacy {
    width: 100%;
    height: 110px;
    background: #fff;
    @include var.r-m;
    @include var.shadow;
    padding: 0 30px;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    cursor: pointer;
    position: relative;

    .icon {
        background: var.$green;
        padding-left: 1px;
    }

    .pharmacy-txt {
        width: calc(100% - 50px);
        padding-left: 30px;

        h3 {
            padding-bottom: 10px
        }

        p {
            @include var.title-s;
        }
    }
}

.pharmacy-pop{
    position: absolute;
    bottom: -290px;
    left: 310px;
    width: 340px;
    height: 400px;    
    background: var.$blue;
    color: #fff;
    z-index: 10;
    @include var.r-m;
    padding: 50px 30px;
    @include var.shadow;
}
