@charset "UTF-8";
@use '../common' as var;

.side-menu {
  width: calc(1300px - 1080px);

  .side-menu__header {
    margin-top: 70px;
    @include var.center;
    gap: 10px;

    .side-menu__header__logo-img {
      width: 25px;
      transform: translateY(1px);
    }

    .side-menu__header__logo-text {
      @include var.title-l;
      color: #fff;
    }
  }

  .side-menu__authentication {
    @include var.center;
    list-style: none;
    margin-top: 70px;
    @include var.content-l;

    li {
      &:first-of-type:after {
        content: '|';
        margin: 0 10px;
        color: #fff;
      }

      a {
        color: #fff;

        &:hover {
          text-decoration: underline;
          text-underline-offset: 6px;
        }
      }
    }
  }

  .side-menu__page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 55px;

    .side-menu__authentication-tab {
      cursor: pointer;
      background-color: var.$blue;
      width: 80%;
      height: 45px;
      border-radius: 45px;
      list-style: none;
      display: flex;
      align-items: center;
      gap: 20px;

      span {
        color: #fff;
        font-size: 1rem;
        font-weight: 700;
      }

      svg {
        color: #fff;
        margin-left: 20px;
        font-size: 18px;

        path {
          color: #fff;
        }
      }

      &.select {
        background-color: #fff;

        span,
        svg {
          color: var.$blue;

          path {
            color: var.$blue;
          }
        }
      }

      //글씨 위치 세부 조정//
      &:nth-of-type(2) {
        span {
          margin-top: -3px;
        }
      }
    }
  }
}

/*Loading*/
.loading {
  border: 5px solid #f3f3f3;
  border-top: 5px solid transparent;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  margin-right: 10px;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
