//color 변수
$black: #333333;
$red: #FD4E53;
$yellow: #FFD749;
$green: #ABDB98;
$blue: #306DE5;
$lightGray: #F8F8F8;
$blueGray: #F5F6F8;
$bgColor: #F2F6F9;


//font 변수
//Title
$title-l: 1.6rem;
$title-m: 1.2rem;
$title-s: 1rem;
//content
$content-l: 0.95rem; 
$content-m: 0.85rem; 
$content-s: 0.75rem; 


//mixin
@mixin center{
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin solid($width, $color){
    border: $width solid $color; 
}

@mixin r-m{
    border-radius: 16px;
}

@mixin r-s{
    border-radius: 8px;
}

@mixin icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    @include center;
}
