//color 변수
$black: #333333;
$red: #FD4E53;
$yellow: #FFD749;
$green: #ABDB98;
$blue: #306DE5;
$lightGray: #F8F8F8;
$blueGray: #F5F6F8;
$bgColor: #F2F6F9;

//shadow
@mixin shadow {
    box-shadow: 0 0 17px#DEE6F5, 0 0 30px #EEF2F4;
}


//font 변수
//Title
@mixin title-l {
    font-size: 1.6rem;
    font-weight: 800;
}

@mixin title-m {
    font-size: 1.2rem;
    font-weight: 700;
}

;

@mixin title-s {
    font-size: 1rem;
    font-weight: 400;
}

//content
@mixin content-l {
    font-size: 0.95rem;
    font-weight: 400;
}

@mixin content-m {
    font-size: 0.85rem;
    font-weight: 400;
    line-height: 180%;
}

@mixin content-s {
    font-size: 0.75rem;
    font-weight: 400;
}


//mixin
@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin transform-center {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;
}

@mixin solid($width, $color) {
    border: $width solid $color;
}

@mixin r-m {
    border-radius: 16px;
}

@mixin r-s {
    border-radius: 8px;
}

@mixin icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    @include center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'NanumSquareAc', sans-serif
}

ul.li,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #333333;
}

#wrap {
    width: 100%;
    height: 100vh;
    background: linear-gradient(#CADAFD, #D4E6FE);
    position: relative;

    .back-figure {
        width: 60%;
        height: 100%;
        background: linear-gradient(#FBFCFF, #E5ECFF);
        opacity: 0.6;
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 0 0 0 200px;
    }


    .content-back {
        width: 1300px;
        height: 800px;
        background: $blue;
        @include transform-center();
        border-radius: 40px;
        box-shadow: 9px 0 68px rgba(157, 177, 219,55%);
        display: flex;
        justify-content: space-between;
        

        .content{
            width: 1080px;
            height: 100%;
            background: #F2F6F9;
            border-radius: 40px;
            padding: 50px 40px;

            .main,.my-page{width: 100%; height: 100%;}
        }
    }
}